<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

<%- messages() %> 
<% if (errors) { const filtered=errors.array().filter(e=> e.msg !== 'Invalid value');
    if (filtered.length) { %>
    <ul class="flash-message notice">
        <% filtered.forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } } %>

<div class="form-container">
  <form action="/review/update" method="post">
    <fieldset>
      <label
        >Review Date: <%= new Date(review_date).toLocaleDateString() %></label
      >

      <label for="review_text">Review Text:</label>
      <textarea id="review_text" name="review_text" required rows="5">
<%= review_text %></textarea
      >

      <input type="hidden" name="review_id" value="<%= review_id %>">

      <button type="submit">Update Review</button>
    </fieldset>
  </form>
</div>